* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.cabecalho, h1 {
    align-items: center;
    background: #2f2c2c;
    display: flex;
    justify-content: space-between;
    padding-left: 0rem;
    padding-right: 4rem;
}

h1 {
    text-align: center;
    color: #369515;
}

.logo {
    width: 100px;
    height: 100px;
}

body {
    background: #fff;
    color: #369515;
    font-family: monsserat, sans-serif;
}

.conteiner {
    background: #fff;
    max-width: 450px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 4px;
}

a {
    text-decoration: none;
    color: #fff;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

.form {
    margin-top: 4px;
    margin-bottom: 4px;

}

.form form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form label {
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 4px;
}

.form input {
    height: 32px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 12px;
    border: 1px solid #000;
    border-radius: 4px;
}

.form input:focus {
    background: #f0f0f5;
}

.form button {
    height: 100%;
    width: 110px;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    font-size: 1rem;
    color: #369515;
    box-sizing: border-box;
    transition: background 0.5s;
}

.form button:hover {
    background: #2D591D;
}

.separator {
    background: #bbb;
    height: 2px;
    border-radius: 1px;
}

.list-tasks {
    margin-top: 12px;
    margin-bottom: 12px;

}

.list-tasks ul {
    list-style: none;

}

.list-tasks ul li {
    background: #369515;
    height: 40px;
    border-radius: 4px;
    color: #fff;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 12px;
    display: flex;
    justify-content: left;
    align-items: center;
    transition: background 0.5s;
}

.list-tasks ul li:hover {
    background-color: #2D591D;
}

.btn-clear {
    height: 130%;
    width: 165px;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 215px;
    font-size: 1rem;
    color: #369515;
    box-sizing: border-box;
    transition: background 0.3s;

}

.btn-clear:hover {
    background: #2D591D;
}


.footer {
    width: 100%;
    background: #2f2c2c;
    border-radius: 4px;
    padding: 12px;
}

.footer p {
    justify-content: center;
    color: #369515;
    font-size: 12px;
}

.details-container {
    background: #fff;
    max-width: 700px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.details {
    width: 300px;
    border: 1px solid #f0f0f5;
    border-radius: 4px;
    margin-right: 4px;
    margin-right: 8px;
    padding: 16px;
}

.details dl dt {
    margin-top: 4px;
    margin-bottom: 4px;
    font-weight: bold;
    color: #666;
}

.details dl dd {
    margin-top: 4px;
    margin-bottom: 12px;
    color: #999;
}

.image {
    width: 400px;
    border: 1px solid #f0f0f5;
    border-radius: 4px;
    margin-right: 8px;
    margin-left: 8px;
    padding: 16px;
}

.image img {
    max-width: 100%;
    height: auto;
}